<main class="container">
    <div class="row">
        <div class="col">
            <section id="recipies">
                {{#each recipes as | recipe |}}
                <div class="card m-2">
                    <div class="card-body">
                        <h2 class="card-title">{{recipe.name}}</h2>
                        <h3 class="card-subtitle">{{recipe.users.0.first_name}} {{recipe.users.0.last_name}}</h3>
                        <p class="card-text">{{recipe.description}}</p>
                    </div>
                    <div class="accordion" id="accordian{{recipe.id}}">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="recipe{{recipe.id}}Details">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse{{recipe.id}}" aria-expanded="false"
                                    aria-controls="collapse{{recipe.id}}">
                                    Recipe Details
                                </button>
                            </h2>
                        </div>
                    </div>
                    <div id="collapse{{recipe.id}}" class="accordion-collapse collapse"
                        aria-labelledby="collapse{{recipe.id}}Details" data-bs-parent="#accordian{{recipe.id}}">
                        <div class="accordion-body">
                            <div id="recipeData">
                                <div class="row m-2">
                                    <div class="col-auto">
                                        <div style="height: 300px;">
                                            <img src="{{recipe.image}}" alt="Recipe Image"
                                                class="img-thumbnail mh-100" />
                                        </div>
                                    </div>
                                    <div class="col">
                                        <h2>Recipe Title:</h2>
                                        <h4>{{recipe.name}}</h4>
                                        <h3>Posted By:</h3>
                                        <h4>{{recipe.users.0.first_name}} {{recipe.users.0.last_name}}</h4>
                                        <h3>Description:</h3>
                                        <h4>{{recipe.description}}</h4>
                                        <h3>Prep Time:</h3>
                                        <h4>{{recipe.time}}</h4>
                                    </div>
                                </div>
                                <div class="row m-2">
                                    <div class="col">
                                        <h2>Ingredients:</h2>
                                        <ul id="recipeIngredients">
                                            <li>Item 1</li>
                                            <li>Item 2</li>
                                        </ul>
                                        <h2>Instructions</h2>
                                        <ol>
                                            <li>direction 1</li>
                                            <li>direction 2</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </section>
        </div>
    </div>
</main>